.logotipo {
    margin: 0;
    margin-right: 20vh;
    margin-top: 3vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 40vh;
    height: 100vh;

    text-align: center;

    justify-content: center;
}

#medoContato {
    position: absolute;
    top: 50vh;

    margin: 0;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}