.userNumber{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: large;

    margin-left: 24px;
    margin-top: 24px;
    padding-left: 16px;

    width: 35vw;

    background-color: rgb(194, 194, 194);
    border: 2px solid black;
    border-radius: 20px;
}

.userEmail{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: large;

    margin-left: 24px;
    margin-top: 24px;
    padding-left: 16px;

    width: 38vw;

    background-color: rgb(194, 194, 194);
    border: 2px solid black;
    border-radius: 20px;
}

.userMessage{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: large;

    margin-left: 24px;
    margin-top: 24px;
    padding-left: 16px;

    width: 44vw;

    background-color: rgb(194, 194, 194);
    border: 2px solid black;
    border-radius: 20px;
}

form{
    display: flex;
    width: 90%;
}

#messageUser{
    width: 20vw;
    height: 7vh;
    margin-left: 16px;
    padding-left: 8px;

    font-size: x-large;

    border: 2px solid black;
    border-radius: 16px;
}

#submitMessageUser{
    margin-left: 16px;
    margin-right: 16px;

    font-size: x-large;
    color: white;

    background-color: darkgreen;

    width: 28%;

    border: 2px solid black;
    border-radius: 16px;

    cursor: pointer;

    transition: background-color 0.3s;
}

#submitMessageUser:hover{
    background-color: rgb(0, 73, 0);
}